body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
#main {
  display: grid;
  gap: 5px;
}

#left {
  grid-column: 1;
  grid-row: 1;
  background-color: aquamarine;

}

#right {
  grid-column: 2;
  grid-row: 1;
}

h2, h3 {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 2px;
  background-color: aliceblue;
}

header {
  background-color: aquamarine;
  text-align: center;
  padding: 5px;
  font-size: 2em;
}